
body {
    width: 100%;
    height: 100%;
    background-image: url(../res/404.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    width: 950px;
    height: 950px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}


/*
NAVBAR
*/

.navbar .left ul {
    list-style: none;
    padding: 0;
}

.navbar .left ul li {
    float: left;
    padding-left: 45px;
}

.navbar .left ul li a:hover {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.navbar .left ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.center a {
    text-decoration: none;
}

.center h2 {
    font-family: 'Handlee', cursive;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 33px;
}

.navbar .right ul {
    list-style: none;
    padding: 0;
}

.navbar .right ul li {
    float: right;
    padding-left: 45px;
}

.navbar .right ul li a:hover {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.navbar .right ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.co {
    font-style: italic;
}


/*
END NAVBAR
*/


/*
404
*/

.not-found {
    position: relative;
    height: 900x;
    box-sizing: border-box;
    margin-top: 175px;
}

.not-found h1:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 10px;
}

.not-found h1 {
    text-align: center;
    color: #fdc15e;
    font-size: 298px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.not-found p {
    margin: 0;
    position: absolute;
    left: 25%;
    font-family: 'Roboto', sans-serif;
    color: white;
    top: 92%;
    font-size: 26px;
}

.not-found button {
    position: absolute;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #fdc15e;
    width: 160px;
    height: 40px;
    border: none;
    top: 105%;
    left: 42%;
    font-weight: 400;
    letter-spacing: 1px;
}

