@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/*
/////////////////////////
.naviIGATION BAR PART
/////////////////////////
*/ 

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Montserrat";
}

body{
    overflow-x: hidden;
    font-style: normal;
    font-weight: 300;
    position: relative;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 8px;
  }
  
  h2 {
    color: #2e2e2e;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  p {
    color: gray;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
  }
  

a{
    text-decoration: none !important;
    color: #eee !important;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none !important;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url(../res/image1.jpg) center no-repeat;;
    background-size: cover;
    background-blend-mode: saturation; 

}

  
#about .section-title {
    padding-top: 82px;
  }
  
  #about .section-title h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  

.contrainer{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.navi{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.logo{
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.navi ul{
    display: flex;
}
.navi ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.navi ul li:nth-child(1){
    animation-delay: 0s
}

.navi ul li:nth-child(2){
    animation-delay: .5s
}

.navi ul li:nth-child(3){
    animation-delay: 1s
}

.navi ul li:nth-child(4){
    animation-delay: 1.5s
}

.navi ul li:nth-child(5){
    animation-delay: 2s
}

.navi ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
.navi ul li a:last-child{
    margin-right: 0;
}
.navi ul li a::before,
.navi ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fdc15e;
    left: 0;
    transform: scaleX(0);
    transition: all ease-in-out .5s
}
.navi ul li a::before{
    top: 0;
    transform-origin: left;
}
.navi ul li a::after{
    bottom: 0;
    transform-origin: right;
}
.navi ul li a:hover::before,
.navi ul li a:hover::after{
    transform: scaleX(1)
}

@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0)
    }
}


.section-title {
    padding-bottom: 62px;
  }
  
  #about .section-title {
    padding-top: 82px;
  }
  
  #about .section-title h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #about,
  #gallery,
  #playlist,
  #quotes,
  #contact {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
  }
  #gallery,
  #playlist,
  #quotes,
  #contact
  #gallery,
  #contact, footer {
    text-align: center;
  }
  
  .overlay {
    background: #344e98;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }
  
  
  


#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    text-align: center;
  
  }

  
  #home h1 {
    color: #ffffff;

  }

  #home .col-md-8 {
    padding-left: 62px;
  }
  
/*
/////////////////////////
COUNTER PART
/////////////////////////
*/ 

#wtf.middle{

    width: 100%;
    transform: translateY(-50%);
  }
  #wtf   .counting-sec{
    padding: 40px 0;
    width: 100%;
    background: #fdc15e;;
  }
  #wtf  .inner-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
  }
  #wtf  .col{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  #wtf  .col i{
    font-size: 40px;
    color: #333;
    font-weight: bold;
  }
  #wtf  .num{
    font-size: 40px;
    margin: 20px 0;
  }
.col span{
    color: #333 
}











/*---------------------------------------
    About Section              
-----------------------------------------*/

#about {
    background: #f0f0f0;
  }
  
  #about .item {
    width: 100%;
    display: block;
  }
  
  #about .about-thumb {
    background: #ffffff;
    border-radius: 4px;
    padding: 100px;
    position: relative;
  }
  
  #about .about-img img {
    border: 8px solid #fdc15e;
    position: absolute;
    left: -120px;
    bottom: -325px;
    padding: 12px;
  }
  
  #about .team-thumb {
    width: 100%;
    height: 400px;
    margin: 32px 0;
    text-align: center;
    background: #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #about .team-thumb .image-holder {
    position: relative;
    top: 40px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #about .team-thumb .heading {
    font-weight: bold;
    position: relative;
    top: 10px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  #about .team-thumb:hover {
    background: #fdc15e;    
  }
  
  #about .team-thumb:hover .image-holder {
    top: -40px;
    margin-bottom: 0px;
  }
  
  #about .team-thumb:hover .heading {
    top: -10px;
  }
  
  #about .team-thumb .description {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  #about .team-thumb:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  #about .team-thumb:hover p.description {
    color: #ffffff;
  }
  
  
  
  /*---------------------------------------
      Galllery section              
  -----------------------------------------*/
  
  #gallery {
    background: #ffffff;
  }
  
  #gallery .gallery-thumb {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    position: relative;
    top: 0px;
    transition: all 0.4s ease-in-out;
  }
  
  #gallery .gallery-thumb:hover {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
  }
  
  #gallery .gallery-thumb img {
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
  }
  
  
/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact, footer {
    background: #333;
    color: #ffffff;
  }
  
  #contact .form-control {
    background: transparent;
    box-shadow: none;
    border: 1px solid #fdc15e;
    color: #ccc;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 14px;
    transition: all 0.4s ease-in-out;
  }
  
  #contact .form-control:focus {
    border-color: #fdc15e;
    color: #ffffff;
  }
  
  #contact input {
    height: 55px;
  }
  
  #contact input[type="submit"] {
    background: #fdc15e;
    border:none;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  #contact input[type="submit"]:hover {
    background: #222;
    color: #ffffff;
  }
  
  
  
  /*---------------------------------------
      Footer section             
  -----------------------------------------*/
  
  footer {
    padding-bottom: 80px;
  }
  
.social-icon {
    padding: 0;
    margin: 0;
  }
  
  .social-icon li {
    list-style: none;
    display: inline-block;
  }
  
  .social-icon li a {
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 10px 10px 42px 10px;
    padding: 0px;
  }
  
  .social-icon li a:hover {
    background: #ffffff;
    color: #e44c65;
  }
  
  
  
/*---------------------------------------
   Responsive Mobile         
-----------------------------------------*/

@media (max-width: 980px) {
    /* 
      #home, .overlay {
        height: 50vh;
      }
    */
      #about .team-thumb {
        margin-top: 32px;
      }
    
    }
    
    
    @media (max-width: 767px) {
    
      #home, .overlay {
        height: 100vh;
      }
    
      #about .about-thumb {
        padding: 32px;
        margin-bottom: 32px;
        text-align: center;
      }
    
      #about .col-md-3 img {
        position: relative;
        top: 0;
        left: 0;
      }
    
    }
    
    
    
    @media (max-width: 650px) {
    
      h1 {
        font-size: 1.6rem;
      }
    
      p {
        font-size: 18px;
      }
    
      img {
        width: 100%;
      }
    
      #about,
      #gallery,
      #playlist,
      #quotes,
      #contact {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    
    }
    
    
    
    
    